apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'quarkus-services'
        metrics_path: '/q/metrics'
        static_configs:
          - targets: 
            - 'task-service.dev-monitoring.svc.cluster.local:80'
            - 'user-service.dev-monitoring.svc.cluster.local:80'
            - 'notification-service.dev-monitoring.svc.cluster.local:80'
