apiVersion: v1
kind: Service
metadata:
  name: task-service
  labels:
    app: task-service
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: task-service
